@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');


body {

  display: flex;
  
  position: relative;
  padding-top: 5em;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  padding: 60px 20px;
  
   
    
    background-image: linear-gradient(to left, #000000, #583c3ca6);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  
}


.navbar {
    padding: 10px;
    font-size: 1.3em;

}


#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }

#imagenperfil {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#imagenperfil:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;

}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor:pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



mark {
  background-color: #ccc;
}

#contactoh2 {
  font-weight: bold;
  font-size: 2em;
  align-items: flex-start;
}

.actions li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
    font-size: 4em;
    padding: 10px;
  }

  #imagenesedu{
    position:absolute;
    left: 20%;
    height: 7em;
    width: 7em;    
    z-index: -1;
    opacity: 40%;
  }

  #argprograma {
    position: absolute;
    left: 18%;
    z-index: -1;
    opacity: 30%;
  }

  #lenguajes {
    font-size: 1.25em;
  }

  .fa-html5 {
    background: #e44c24;
    color: white;
  }

  .fa-python {
    color: rgb(8, 128, 241);
  }

  .fa-react {
    color: rgba(0, 255, 255, 0.795);
  }

  .fa-square-js {
    background: #f7f303;
    color: black;
  }

  .fa-css3-alt {
    color: rgb(20, 147, 231);
  }

  #diplomas {
    position:absolute;
    left: 30%;
    height: 11em;
    width: 11em;    
    z-index: -1;
    opacity: 25%;
  }